In [4]:
import pandas as pd
import os

In [7]:
base_folder='unsupervised_data/'

In [8]:
os.listdir('unsupervised_data')

['AllThe News Kaggle', 'AllTheNews Components.one', 'Harvard', 'Times']

In [9]:
## all the news kaggle
kaggle1 = pd.read_csv(base_folder+'AllThe News Kaggle/articles1.csv',index_col='Unnamed: 0')
kaggle2 = pd.read_csv(base_folder+'AllThe News Kaggle/articles2.csv',index_col='Unnamed: 0')
kaggle3 = pd.read_csv(base_folder+'AllThe News Kaggle/articles3.csv',index_col='Unnamed: 0')
kaggle = pd.concat([kaggle1,kaggle2,kaggle3])

In [10]:
kaggle.head()

,id,title,publication,author,date,year,month,url,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

All the News Components.one

In [11]:
import sqlite3

In [12]:
db = sqlite3.connect(base_folder+'AllTheNews Components.one/all-the-news.db')
cursor = db.cursor()

In [17]:
cursor.execute('''SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';''').fetchall()

[('longform',)]

In [18]:
components_one = pd.read_sql_query("SELECT * FROM longform", db)

In [19]:
components_one.shape

(204135, 12)

In [20]:
components_one.head()

,id,title,author,date,content,year,month,publication,category,digital,section,url
0,1,Agent Cooper in Twin Peaks is the audience: on...,\nTasha Robinson\n,2017-05-31,And never more so than in Showtime’s new...,2017,5,Verge,Longform,1.0,None,None
1,2,"AI, the humanity!",\nSam Byford\n,2017-05-30,AlphaGo’s victory isn’t a defeat for hum...,2017,5,Verge,Longform,1.0,None,None
2,3,The Viral Machine,\nKaitlyn Tiffany\n,2017-05-25,Super Deluxe built a weird internet empi...,2017,5,Verge,Longform,1.0,None,None
3,4,How Anker is beating Apple and Samsung at thei...,\nNick Statt\n,2017-05-22,Steven Yang quit his job at Google in th...,2017,5,Verge,Longform,1.0,None,None
4,5,Tour Black Panther’s reimagined homeland with ...,\nKwame Opam\n,2017-05-15,Ahead of Black Panther’s 2018 theatrical...,2017,5,Verge,Longform,1.0,None,None

Times

In [25]:
times = pd.read_csv(base_folder+'Times/nytimes front page.csv',index_col='Unnamed: 0')

In [26]:
times.head()

,id,title,author,content,date,year,month,front_page,url,date_counter,stems
1,2,"How the Russia Inquiry Began: A Campaign Aide,...",Sharon LaFraniere,WASHINGTON — During a night of heavy drinking ...,2017-12-30,2017.0,12.0,True,https://www.nytimes.com/2017/12/30/us/politics...,0_2018,washington -- during a night of heavy drinking...
2,3,"For Trump, a Year of Reinventing the Presidenc...",Peter Baker,WASHINGTON — When President Trump meets with a...,2017-12-31,2017.0,12.0,True,https://www.nytimes.com/2017/12/31/us/politics...,0_2018,washington -- when president trump meet with a...
3,4,The U.S. Has Pummeled Al Qaeda in Yemen. But t...,Eric Schmitt,"MANAMA, Bahrain — The United States has triple...",2017-12-30,2017.0,12.0,True,https://www.nytimes.com/2017/12/30/world/middl...,0_2018,"manama , bahrain -- the united states have tri..."
4,5,Why an Upstate Prisoner With a History of Esca...,William K. Rashbaum,The plan sounds ingenious. Remove two small se...,2017-12-30,2017.0,12.0,True,https://www.nytimes.com/2017/12/30/nyregion/da...,0_2018,the plan sound ingenious . remove two small se...
5,6,"In Fire-Scarred Bronx Neighborhood, a World of...",Rick Rojas,"Even on a nose-numbingly cold morning, familie...",2017-12-30,2017.0,12.0,True,https://www.nytimes.com/2017/12/30/nyregion/br...,0_2018,"even on a nose - numbingly cold morning , fami..."

In [28]:
import chardet

In [29]:
with open(base_folder+'Harvard/NewsArticles.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [30]:
result

{'encoding': 'Windows-1254',
 'confidence': 0.5814550279141214,
 'language': 'Turkish'}

Harvard

In [39]:
with open(base_folder+'Harvard/NewsArticles.csv', encoding='utf-8', errors='ignore') as inp:
    harvard = pd.read_csv(inp)

In [40]:
harvard.head()

,article_id,publish_date,article_source_link,title,subtitle,text,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143
0,1,2017/2/7,http://abcnews.go.com/Politics/pence-break-tie...,"Betsy DeVos Confirmed as Education Secretary, ...",NaN,Michigan billionaire education activist Betsy ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2017/2/7,http://abcnews.go.com/Politics/wireStory/melan...,Melania Trump Says White House Could Mean Mill...,NaN,First lady Melania Trump has said little about...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2017/2/7,http://abcnews.go.com/Politics/wireStory/trump...,"As Trump Fears Fraud, GOP Eliminates Election ...",NaN,A House committee voted on Tuesday to eliminat...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2017/2/7,http://abcnews.go.com/Politics/appeals-court-d...,Appeals Court to Decide on Challenge to Trump'...,NaN,"This afternoon, three federal judges from the ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2017/2/7,http://abcnews.go.com/US/23-states-winter-weat...,At Least 4 Tornadoes Reported in Southeast Lou...,NaN,At least four tornadoes touched down in Louisi...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
harvard['content'] = harvard['text']
harvard['id'] = harvard['article_id']

In [49]:
harvard['source'] = 'Harvard'
times['source'] = 'Times'
components_one['source'] = 'AllTheNewsComponentsOne'
kaggle['source'] = 'AllTheNewsKaggle'

news_df = pd.concat([harvard[['id','title','content','source']],
                    times[['id','title','content','source']],
                    components_one[['id','title','content','source']],
                    kaggle[['id','title','content','source']]],
                   ignore_index=True)

In [50]:
news_df.head()

,id,title,content,source
0,1,"Betsy DeVos Confirmed as Education Secretary, ...",Michigan billionaire education activist Betsy ...,Harvard
1,2,Melania Trump Says White House Could Mean Mill...,First lady Melania Trump has said little about...,Harvard
2,3,"As Trump Fears Fraud, GOP Eliminates Election ...",A House committee voted on Tuesday to eliminat...,Harvard
3,4,Appeals Court to Decide on Challenge to Trump'...,"This afternoon, three federal judges from the ...",Harvard
4,5,At Least 4 Tornadoes Reported in Southeast Lou...,At least four tornadoes touched down in Louisi...,Harvard

In [51]:
news_df.shape

(361261, 4)

In [52]:
news_df.to_csv('unsupervised_news.csv')